[submodule "git-sm-project-1-demo"]
	path = git-sm-project-1-demo
	url = https://github.com/csk731/git-sm-project-1-demo
[submodule "git-sm-project-2-demo"]
	path = git-sm-project-2-demo
	url = https://github.com/csk731/git-sm-project-2-demo
